<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button class="title"></ion-menu-button>
        </ion-buttons>
        <ion-title class="head">TUS NOTAS</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addNote()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>


    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row *ngFor="let n of notas">
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title class="title"> {{n.titulo}}
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <p>
                            <ion-text class="desc">{{n.descripcion}}</ion-text>
                        </p>
                    </ion-card-content>
                    <ion-footer>
                        <ion-row>
                            <ion-col>
                                <ion-button color="primary" routerLink="/edit">...</ion-button>
                            </ion-col>
                            <ion-col center text-center>
                                <ion-button (click)="onDelete(n.id)" color="danger">X</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-footer>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>